<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>id</key>
		<integer>0</integer>
		<key>name</key>
		<string>free_30p_2md_1mu</string>
		<key>up</key>
		<integer>1</integer>
		<key>down</key>
		<integer>2</integer>
		<key>time</key>
		<integer>30</integer>
	</dict>
	<dict>
		<key>id</key>
		<integer>1</integer>
		<key>name</key>
		<string>free_30p_2md_2mu</string>
		<key>up</key>
		<integer>2</integer>
		<key>down</key>
		<integer>2</integer>
		<key>time</key>
		<integer>30</integer>
	</dict>
	<dict>
		<key>id</key>
		<integer>2</integer>
		<key>name</key>
		<string>free_30p_3md_1mu</string>
		<key>up</key>
		<integer>1</integer>
		<key>down</key>
		<integer>3</integer>
		<key>time</key>
		<integer>30</integer>
	</dict>
	<dict>
		<key>id</key>
		<integer>3</integer>
		<key>name</key>
		<string>free_30p_3md_2mu</string>
		<key>up</key>
		<integer>2</integer>
		<key>down</key>
		<integer>3</integer>
		<key>time</key>
		<integer>30</integer>
	</dict>
	<dict>
		<key>id</key>
		<integer>4</integer>
		<key>name</key>
		<string>free_30p_5md_2mu</string>
		<key>up</key>
		<integer>2</integer>
		<key>down</key>
		<integer>5</integer>
		<key>time</key>
		<integer>30</integer>
	</dict>
	<dict>
		<key>id</key>
		<integer>5</integer>
		<key>name</key>
		<string>free_30p_5md_3mu</string>
		<key>up</key>
		<integer>3</integer>
		<key>down</key>
		<integer>5</integer>
		<key>time</key>
		<integer>30</integer>
	</dict>
	<dict>
		<key>id</key>
		<integer>6</integer>
		<key>name</key>
		<string>free_45p_2md_1mu</string>
		<key>up</key>
		<integer>1</integer>
		<key>down</key>
		<integer>2</integer>
		<key>time</key>
		<integer>45</integer>
	</dict>
	<dict>
		<key>id</key>
		<integer>7</integer>
		<key>name</key>
		<string>free_45p_2md_2mu</string>
		<key>up</key>
		<integer>2</integer>
		<key>down</key>
		<integer>2</integer>
		<key>time</key>
		<integer>45</integer>
	</dict>
	<dict>
		<key>id</key>
		<integer>8</integer>
		<key>name</key>
		<string>free_45p_3md_1mu</string>
		<key>up</key>
		<integer>1</integer>
		<key>down</key>
		<integer>3</integer>
		<key>time</key>
		<integer>45</integer>
	</dict>
	<dict>
		<key>id</key>
		<integer>9</integer>
		<key>name</key>
		<string>free_45p_3md_2mu</string>
		<key>up</key>
		<integer>2</integer>
		<key>down</key>
		<integer>3</integer>
		<key>time</key>
		<integer>45</integer>
	</dict>
	<dict>
		<key>id</key>
		<integer>10</integer>
		<key>name</key>
		<string>free_45p_5md_2mu</string>
		<key>up</key>
		<integer>2</integer>
		<key>down</key>
		<integer>5</integer>
		<key>time</key>
		<integer>45</integer>
	</dict>
	<dict>
		<key>id</key>
		<integer>11</integer>
		<key>name</key>
		<string>free_45p_5md_3mu</string>
		<key>up</key>
		<integer>3</integer>
		<key>down</key>
		<integer>5</integer>
		<key>time</key>
		<integer>45</integer>
	</dict>
    
    
    
    <dict>
        <key>id</key>
        <integer>12</integer>
        <key>name</key>
        <string>free_60p_2md_1mu</string>
        <key>up</key>
        <integer>1</integer>
        <key>down</key>
        <integer>2</integer>
        <key>time</key>
        <integer>60</integer>
    </dict>
    <dict>
        <key>id</key>
        <integer>13</integer>
        <key>name</key>
        <string>free_60p_2md_2mu</string>
        <key>up</key>
        <integer>2</integer>
        <key>down</key>
        <integer>2</integer>
        <key>time</key>
        <integer>60</integer>
    </dict>
    <dict>
        <key>id</key>
        <integer>14</integer>
        <key>name</key>
        <string>free_60p_3md_1mu</string>
        <key>up</key>
        <integer>1</integer>
        <key>down</key>
        <integer>3</integer>
        <key>time</key>
        <integer>60</integer>
    </dict>
    <dict>
        <key>id</key>
        <integer>15</integer>
        <key>name</key>
        <string>free_60p_3md_2mu</string>
        <key>up</key>
        <integer>2</integer>
        <key>down</key>
        <integer>3</integer>
        <key>time</key>
        <integer>60</integer>
    </dict>
    <dict>
        <key>id</key>
        <integer>16</integer>
        <key>name</key>
        <string>free_60p_5md_2mu</string>
        <key>up</key>
        <integer>2</integer>
        <key>down</key>
        <integer>5</integer>
        <key>time</key>
        <integer>60</integer>
    </dict>
    <dict>
        <key>id</key>
        <integer>17</integer>
        <key>name</key>
        <string>free_60p_5md_3mu</string>
        <key>up</key>
        <integer>3</integer>
        <key>down</key>
        <integer>5</integer>
        <key>time</key>
        <integer>60</integer>
    </dict>
    
    
    <dict>
        <key>id</key>
        <integer>18</integer>
        <key>name</key>
        <string>free_15p_2md_1mu</string>
        <key>up</key>
        <integer>1</integer>
        <key>down</key>
        <integer>2</integer>
        <key>time</key>
        <integer>15</integer>
    </dict>
    <dict>
        <key>id</key>
        <integer>19</integer>
        <key>name</key>
        <string>free_15p_2md_2mu</string>
        <key>up</key>
        <integer>2</integer>
        <key>down</key>
        <integer>2</integer>
        <key>time</key>
        <integer>15</integer>
    </dict>
    <dict>
        <key>id</key>
        <integer>20</integer>
        <key>name</key>
        <string>free_15p_3md_1mu</string>
        <key>up</key>
        <integer>1</integer>
        <key>down</key>
        <integer>3</integer>
        <key>time</key>
        <integer>15</integer>
    </dict>
    <dict>
        <key>id</key>
        <integer>21</integer>
        <key>name</key>
        <string>free_15p_3md_2mu</string>
        <key>up</key>
        <integer>2</integer>
        <key>down</key>
        <integer>3</integer>
        <key>time</key>
        <integer>15</integer>
    </dict>
    <dict>
        <key>id</key>
        <integer>22</integer>
        <key>name</key>
        <string>free_15p_5md_2mu</string>
        <key>up</key>
        <integer>2</integer>
        <key>down</key>
        <integer>5</integer>
        <key>time</key>
        <integer>15</integer>
    </dict>
    <dict>
        <key>id</key>
        <integer>23</integer>
        <key>name</key>
        <string>free_15p_5md_3mu</string>
        <key>up</key>
        <integer>3</integer>
        <key>down</key>
        <integer>5</integer>
        <key>time</key>
        <integer>15</integer>
    </dict>
    
	
</array>
</plist>
